.message {
    margin-top: 15px;

}

.imageAndText {
    display: flex;
    justify-content: right;

}

.imageAndText img {
    width: 48px;
    height: 48px;

}

.text {
    border: 1px solid black;
    background: #0066cc;
    border-radius: 5% ;
    padding: 10px;

}

.text:after {

}

.name {
    font-weight: bold;
}

.messageText {

}

.time {
    display: flex;
    justify-content: right;
}