.friendMessage {
    margin-left: 70px;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    border: 1px solid black;
    background: #F5F7FB;
    border-radius: 25px 15px 15px 0px;
    max-width: 50%;
    padding: 10px;
    margin-left: 10px;
}

.friendText:after {

}

.friendName {
    font-weight: bold;
}

.friendMessageText {

}

.friendTime {

}
