.sendForm {
    display: flex;
    margin-top: 20px;
    margin-bottom: 32px;
    margin-left: 70px;
}

.textarea {
    min-width: 60rem;
    background: #F5F7FB;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    resize: none;
    padding: 15px;
    overflow: hidden;
}

.button {
    background: #0066CC;
    border-radius: 20px;
    margin-left: 44px;
    padding: 0px 38px 0px 38px;
}

.button:hover {

}
.button:active {

}
